huggingface-hub[cli]>=0.19.2,<1.0
bitsandbytes>=0.43.0
black>=24.4.2
importlib-resources
matplotlib
packaging>=23.0
pycocotools
pycocoevalcap
pyyaml
regex
tqdm
timm
seaborn
scikit-learn
scipy
omegaconf
ipykernel
decord
tenacity
notebook
gradio
gradio-client
torch>=2.0
torchvision>=0.15.0
transformers==4.51.3
xformers
accelerate>=1.2.1
peft
lightning>=2.0.2
rouge
opencv-python-headless
prettytable
deepspeed==0.15.4
datasets==3.6.0
wandb==0.18.3
qwen_vl_utils==0.0.11
imagesize
colorama
flash-attn==2.7.3